<!-- your html code here -->
 <!-- Hecho por Ignacio -->
<div class="container-fluid p-5">

    <div class="row bg-white">

        <div class="col-md-8 col-xs-12">
            <h2 class="fw-bold h2">The First Heading <span class="text-secondary">Will catch Your Eye</span></h2>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci a sit fugiat impedit quasi porro, ut totam recusandae animi illum suscipit ab assumenda dignissimos aliquam laborum quaerat. Ipsa, rem culpa!</p>
        </div>

        <div class="col-md-4 col-xs-12">
            <img class="img-fluid rounded-circle mx-auto d-block w-75" src="assets/img/1.jpg" alt="walter white">
        </div>
    
    </div>

</div>
