<!-- your html code here -->
<div class="row py-5 bg-white">

    <div class="col-8">
        <h2 class="fw-bold">The First Heading <span class="text-secondary">Will catch Your Eye</span></h2>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci a sit fugiat impedit quasi porro, ut totam recusandae animi illum suscipit ab assumenda dignissimos aliquam laborum quaerat. Ipsa, rem culpa!</p>
    </div>

    <div class="col-4">
        <img class="img-fluid rounded-circle" src="assets/img/1.jpg" alt="walter white">
    </div>
    
</div>
