<!-- your html code here -->
<!-- Hecho por Ignacio Pinto -->

<div class="container-fluid">
    <div class="row bg-white p-4">
        <div class="col-md-4 col-xs-12">
            <img class="img-fluid rounded-circle py-2" src="assets/img/2.jpg" alt="typing hands on keyboard">
        </div>
        <div class="col-md-8 col-xs-12">
            <h2 class="h2 fw-bold">The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo praesentium neque, voluptate ipsum distinctio libero. Repellendus omnis nobis expedita, voluptate enim, officia amet eligendi esse aut voluptatum hic vitae cum?</p>
        </div>
    </div>
</div>
